{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    {% block css %} {% endblock css %}
    <style></style>
  </head>
  <body>
    {% block content %}

    <!-- Start #app -->
    <div id="app" class="container">
      <div class="row">
        <!--card 1-->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h5>Total Collection</h5>
                <hr />
              </div>
              <div class="card-text">
                <div class="d-flex justify-content-evenly"></div>
                <h5>
                  <i class="fa-solid fa-wallet"></i>
                  [[data.total_payment_amount]]
                </h5>
              </div>
            </div>
          </div>
        </div>
        <!--End card 1-->

        <!--card 2-->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h5>Today's Collection</h5>
                <hr />
              </div>
              <div class="card-text">
                <div class="d-flex justify-content-around">
                  <h5>
                    <i class="fa-solid fa-dollar-sign"></i>
                    [[data.today.total_payment_amount]]
                  </h5>
                  <h5>
                    <i class="fa-solid fa-graduation-cap"> </i>
                    [[data.today.total_student]]
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End card 2-->

        <!--Start card 3-->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h5>Curent Month</h5>
                <hr />
              </div>
              <div class="card-text">
                <div class="d-flex justify-content-around">
                  <h5>
                    <i class="fa-solid fa-dollar-sign"></i>
                    [[data.month.total_payment_amount]]
                  </h5>
                  <h5>
                    <i class="fa-solid fa-graduation-cap"> </i>
                    [[data.month.total_student]]
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End card 3-->

        <!--card 4-->
        <div class="col-3">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h5>Not This month</h5>
                <hr />
              </div>
              <div class="card-text">
                <div class="d-flex justify-content-around">
                  <h5>
                    <i class="fa-solid fa-dollar-sign"></i>
                    [[data.today.total_payment_amount]]
                  </h5>
                  <h5>
                    <i class="fa-solid fa-graduation-cap"> </i>
                    [[data.today.total_student]]
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--card 4-->
      </div>
      <student-create-form 
        @del-name="filterName"
        :name-list="nameList"
        />
    </div>

    <div>
      <a href="{%  url "report" %}" target="_blank">Report</a>
    </div>
    <!-- End #app -->

    {% endblock content %} {% block script %}
    <script src="{% static "js/StudentCreateForm.js" %}"></script>   

    <script>
      const data = JSON.parse("{{data|escapejs}}");
      console.log(data);
      /*
      const courseList = JSON.parse('{{course_list|safe}}');
      */

      const { createApp } = Vue;
      createApp({
        components:{
          StudentCreateForm
        },
        methods:{
          filterName(n){
            
            this.nameList  = this.nameList.filter((i, index) => {
              return index != n
            })


          },
         
        },
        mounted() {},
        data() {
          return {
            data: data,
            nameList: ['orko', 'orin', 'orkut']
          };
        },
        delimiters: ["[[", "]]"],
      }).mount("#app");
    </script>
    {% endblock script %}
  </body>
</html>
